{{ define "main" -}}
<div class="text-lg lg:text-xl">
  {{ .Content }}

  <div class="pt-6 lg:pt-12">
    <span class="text-xl lg:text-5xl font-medium text-gray-600">{{ .Params.eventdate }}</span>
  </div>

  <div class="p-8">
    {{- $page := .Site.GetPage "buteco-talks/inscricao.md" -}}
    <a href="{{ $page.Permalink }}" class="inline-block bg-indigo-600 text-white text-lg uppercase rounded font-medium py-4 px-6">Inscreva-se</a>
  </div>
</div>
<div class="pt-12">
  <h2 class="pb-10 text-4xl font-medium text-gray-600">Palestrantes</h2>
  <div class="flex flex-col xl:flex-row">
  {{ range .Params.speakers }}
  <div class="flex-1 mb-8">
    <div class="mb-2">
      <img src="{{ .avatar }}"
           class="rounded-full ring-2 ring-gray-300 m-auto"
           width="120"
           alt="{{ .name }}">
    </div>
    <div>{{ .name }}</div>
    <div class="font-light">{{ .company }}</div>
  </div>
  {{ end }}
  </div>
</div>
<div>
  <h2 class="pb-10 text-4xl font-medium text-gray-600">Apoio</h2>
  <div class="flex flex-col xl:flex-row">
  {{ range .Params.partners }}
  <div class="flex-1 mb-8">
    <div class="mb-2">
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .logo }}"
             class="m-auto"
             height="120"
             alt="{{ .name }}">
      </a>
    </div>
  </div>
  {{ end }}
  </div>
</div>
{{- end }}
