<div class="mt-4">
  <h3 class="pb-2 border-bottom">Publicidade</h3>

  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6625957038449899"
       data-ad-slot="7193570524"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="mt-4">
  <h3 class="pb-2 border-bottom">Podcast</h3>

<!--
  <iframe src="https://open.spotify.com/embed-podcast/show/1oD8x4L9Tzu2hcPRUkfwhh"
                width="100%"
                height="232"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media"></iframe>

  <iframe src="https://castbox.fm/app/castbox/player/id2881355?v=8.22.11&autoplay=0&hide_list=1"
          frameborder="0"
          width="100%"
          height="200"></iframe>

  <iframe src="https://tunein.com/embed/player/p1357870/"
          class="mt-2"
          style="width:100%; height:100px;"
          scrolling="no"
          frameborder="no"
          importance="low"></iframe>
-->

  {{ $episodes := .Site.GetPage "podcast" }}
  {{ range first 1 $episodes.Data.Pages }}
    <a href="{{ .Permalink }}">
      {{- with .Resources.GetMatch "{*thumbnail*,*cover*,*feature*,*header*}" -}}
      {{ $image := .Fit "300x300 jpg q90 Lanczos" }}
      <img class="shadow rounded"src="{{ $image.Permalink }}" alt="{{ .Title }}" width="300">
      {{- else -}}
      <img class="shadow rounded"src="{{ .Params.thumbnail.image }}" alt="{{ .Title }}" width="300">
      {{- end -}}
    </a>
  {{ end }}

  <p class="pt-2 small text-center"><a href="/podcast/" class="text-decoration-none">Confira mais episódios</a></p>
</div>
