<div class="mt-4">
  <h3 class="pb-2 border-bottom">Hacktoberfest</h3>
  <a href="/hacktoberfest-2020">
    <img loading="lazy" src="/images/posts/hf-2020-600.png" alt="Hacktoberfest 2020" width="100%">
  </a>
</div>
<div class="mt-4">
  <h3 class="pb-2 border-bottom">Podcast</h3>

<!--
  <iframe src="https://open.spotify.com/embed-podcast/show/1oD8x4L9Tzu2hcPRUkfwhh"
                width="100%"
                height="232"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media"></iframe>

  <iframe src="https://castbox.fm/app/castbox/player/id2881355?v=8.22.11&autoplay=0&hide_list=1"
          frameborder="0"
          width="100%"
          height="200"></iframe>
-->

  <iframe src="https://tunein.com/embed/player/p1357870/"
          class="mt-2"
          style="width:100%; height:100px;"
          scrolling="no"
          frameborder="no"
          importance="low"></iframe>

  <p class="small text-center"><a href="/podcast/" class="text-decoration-none">Confira mais episódios</a></p>
</div>
