<div class="d-flex justify-content-center flex-wrap">
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://open.spotify.com/show/1oD8x4L9Tzu2hcPRUkfwhh"
     target="_blank"
     title="Spotify">
    <img src="/images/podcast/spotify.svg" loading="lazy" class="mr-1" height="24">
    Spotify
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://podcasts.apple.com/podcast/buteco-tech/id1516200950"
     target="_blank"
     title="Apple Podcasts">
    <img src="/images/podcast/itunes.svg" loading="lazy" class="mr-1" height="24">
    Apple Podcasts
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://www.deezer.com/br/show/1402162"
     target="_blank"
     title="Deezer">
    <img src="/images/podcast/deezer.svg" loading="lazy" class="mr-1" height="24">
    Deezer
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://podcasts.google.com/?feed=aHR0cHM6Ly9idXRlY28udGVjaC9wb2RjYXN0LXJzcy54bWw%3D"
     target="_blank"
     title="Google Podcasts">
    <img src="/images/podcast/google.svg" loading="lazy" class="mr-1" height="24">
    Google Podcasts
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://www.youtube.com/playlist?list=PLrDyMKckjqP-0gp2AmdnmXoXzQ_9QXsQa"
     target="_blank"
     title="YouTube">
    <img src="/images/podcast/youtube.svg" loading="lazy" class="mr-1" height="24">
    YouTube
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://castbox.fm/channel/buteco.tech-id2881355?country=br"
     target="_blank"
     title="Castbox">
    <img src="/images/podcast/castbox.svg" loading="lazy" class="mr-1" height="24">
    Castbox
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://www.stitcher.com/show/butecotech"
     target="_blank"
     title="Stitcher">
    <img src="/images/podcast/stitcher.svg" loading="lazy" class="mr-1" height="24">
    Stitcher
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://tunein.com/podcasts/Technology-Podcasts/butecotech-p1357870/"
     target="_blank"
     title="TuneIn">
    <img src="/images/podcast/tunein.svg" loading="lazy" class="mr-1" height="24">
    TuneIn
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://radiopublic.com/butecotech-GA9yZY"
     target="_blank"
     title="RadioPublic">
    <img src="/images/podcast/radiopublic.svg" loading="lazy" class="mr-1" height="24">
    RadioPublic
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://www.iheart.com/podcast/269-butecotech-70586126/"
     target="_blank"
     title="iHeartRadio">
    <img src="/images/podcast/iheartradio.svg" loading="lazy" class="mr-1" height="24">
    iHeartRadio
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://www.podchaser.com/podcasts/butecotech-1607741"
     target="_blank"
     title="Podchaser">
    <img src="/images/podcast/podchaser.svg" loading="lazy" class="mr-1" height="24">
    Podchaser
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://podbay.fm/p/butecotech"
     target="_blank"
     title="Podbay">
    <img src="/images/podcast/podbay.svg" loading="lazy" class="mr-1" height="24">
    Podbay
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://pca.st/mhl8bjqu"
     target="_blank"
     title="Pocket Casts">
    <img src="/images/podcast/pocketcasts.svg" loading="lazy" class="mr-1" height="24">
    Pocket Casts
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://overcast.fm/itunes1516200950/buteco-tech"
     target="_blank"
     title="Overcast">
    <img src="/images/podcast/overcast.svg" loading="lazy" class="mr-1" height="24">
    Overcast
  </a>
  <a class="btn btn-outline-light text-dark text-decoration-none m-1"
     href="https://buteco.tech/podcast-rss.xml"
     target="_blank"
     title="RSS">
    <img src="/images/podcast/rss.svg" loading="lazy" class="mr-1" height="24">
    RSS
  </a>
  {{ with .Params.download }}
  <button type="button" class="btn btn-outline-light text-dark text-decoration-none m-1" title="Baixar MP3" data-toggle="modal" data-target="#modal-mp3">
    <img src="/images/podcast/download.svg" loading="lazy" class="mr-1" height="24">
    Baixar MP3
  </button>
  {{ end }}
</div>

{{ with .Params.download }}
<div class="modal fade" id="modal-mp3" tabindex="-1" role="dialog" aria-labelledby="modal-mp3-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-mp3-label">Baixar MP3</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <audio controls style="width: 100%">
          <source src="{{ . }}" type="audio/mpeg">
          Não foi possível carregar o MP3.
        </audio>
        <p class="text-center mt-3">
          <a href="{{ . }}" class="btn btn-lg btn-success" download>
            <img src="/images/podcast/mp3.svg" loading="lazy" class="mr-1" height="24">
            Baixar MP3
          </a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
